<!DOCTYPE html>
<html>
<head>
	<title>ADBMS</title>
	<link rel='stylesheet' href='/external/bootstrap/dist/css/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="row">
		<div class="span12 center"><h1>Spatio-Temporal Madness</h1> </div>
	</div>

	<div class="row">
   		<!-- <div class="span4"><button class="btn btn-primary">This is a button</button></div>
   		<div class="span5">This is another form</div> -->

   		<div class="col-md-6">
   			<form>
   				<div class="form-group">
   					<label for="personid">Person ID</label>
   					<input type="text" class="form-control" id="personid" placeholder="Enter Person ID">
   				</div>

   				<div class="form-group">
   					<label for="timeone">Time 1</label>
   					<input type="text" class="form-control" id="timeone" placeholder="Enter First Time">
   				</div>

   				<div class="form-group">
   					<label for="timetwo">Time 2</label>
   					<input type="text" class="form-control" id="timetwo" placeholder="Enter Second Time">
   				</div>
   				<button type="submit" id="path-btn" class="btn btn-default">Submit</button>
   			</form>
   		</div>
   		<div class="col-md-6">
   			<form>
   				<div class="form-group">
   					<label for="exampleInputEmail1">Email address</label>
   					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
   				</div>
   				<button type="submit" class="btn btn-default">Submit</button>
   			</form></div>
   		</div>
   		<div class="row center"><div id="map-canvas"></div></div>
   		
</body>
   		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
   		<script type="text/javascript" src="/external/jquery/dist/jquery.js"></script>
   		<script type="text/javascript" src="/external/bootstrap/dist/js/bootstrap.js"></script>
   		<script type="text/javascript" src="/javascripts/index.js"></script>

   		</html>
